<?xml version='1.0' encoding='windows-1252'?>
<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product
        Id='*'
        Name='polydural'
        UpgradeCode='DE2C50FD-D388-42DC-95C1-8B312E4AE98B'
        Manufacturer='Charli van Nood'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package Id='*'
            Keywords='Installer'
            Description='Just your average voxel game where an unknown entity is trying to communicate with you...'
            Manufacturer='Charli van Nood'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252'
            />

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='polydural Installation'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='polydural'>
                    
                    <!--
                      Enabling the license sidecar file in the installer is a four step process:

                      1. Uncomment the `Component` tag and its contents.
                      2. Change the value for the `Source` attribute in the `File` tag to a path
                         to the file that should be included as the license sidecar file. The path
                         can, and probably should be, relative to this file.
                      3. Change the value for the `Name` attribute in the `File` tag to the
                         desired name for the file when it is installed alongside the `bin` folder
                         in the installation directory. This can be omitted if the desired name is
                         the same as the file name.
                      4. Uncomment the `ComponentRef` tag with the Id attribute value of "License"
                         further down in this file.
                    -->
                    <!--
                    <Component Id='License' Guid='*'>
                        <File Id='LicenseFile' Name='ChangeMe' DiskId='1' Source='C:\Path\To\File' KeyPath='yes'/>
                    </Component>
                    -->

                    <!--<Directory Id='Bin' Name='bin'>
                        <Component Id='Path' Guid='480885F6-D480-452D-BD48-9A2795BE35B5' KeyPath='yes'>
                            <Environment
                                Id='PATH'
                                Name='PATH'
                                Value='[Bin]'
                                Permanent='no'
                                Part='last'
                                Action='set'
                                System='yes'/>
                        </Component>
                        <Component Id='binary0' Guid='*'>
                            <File
                                Id='exe0'
                                Name='polydural.exe'
                                DiskId='1'
                                Source='$(var.CargoTargetBinDir)\polydural.exe'
                                KeyPath='yes'/>
                        </Component>
                    </Directory>-->
                </Directory>
            </Directory>
        
            <Directory Id="DesktopFolder" Name="Desktop" />
        </Directory>

        <ComponentGroup Id="ProductComponents" Directory="APPLICATIONFOLDER">
            <Component Id="MainExecutable" Guid="a63b4e33-3169-4167-af56-9f9b467c5d47">
                <File Id="GameExe" Source="$(var.CargoTargetBinDir)\polydural.exe" KeyPath="yes" />
                <RegistryKey Root="HKLM" Key="Software\polydural" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
                    <RegistryValue Type="string" Name="Installed" Value="1" />
                </RegistryKey>
            </Component>
            <Component Id="DesktopShortcut" Guid="a63b4e33-3169-5167-af56-9f9b467c5d47">
                <Shortcut
                    Id="ApplicationDesktopShortcut"
                    Directory="DesktopFolder"
                    Name="polydural"
                    Description="Launch polydural"
                    Target="[APPLICATIONFOLDER]/polydural.exe"
                    WorkingDirectory="APPLICATIONFOLDER" />
                <RemoveFolder Id="DesktopFolder" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software\polydural\Shortcuts" Name="Desktop" Value="1" Type="integer" KeyPath="yes" />
            </Component>
        </ComponentGroup>

        <Feature
            Id='Binaries'
            Title='Application'
            Description='Installs all binaries and the license.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>

            <ComponentGroupRef Id="ProductComponents" />

            <!--<ComponentRef Id='binary0'/>-->

            <Feature
                Id='Environment'
                Title='PATH Environment Variable'
                Description='Add the install location of the [ProductName] executable to the PATH system environment variable. This allows the [ProductName] executable to be called from any location.'
                Level='1'
                Absent='allow'>
                <ComponentRef Id='MainExecutable'/>
            </Feature>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        <Icon Id='ProductICO' SourceFile='wix/images/logo.ico'/>
        <Property Id='ARPPRODUCTICON' Value='ProductICO' />

        <Property Id='ARPHELPLINK' Value='https://polydural.com/'/>
        
        <UI>
            <Property Id="LogoFile" Value="MyLogo" />

            <UIRef Id='WixUI_FeatureTree'/>
            
            <Publish Dialog='WelcomeDlg' Control='Next' Event='NewDialog' Value='CustomizeDlg' Order='99'>1</Publish>
            <Publish Dialog='CustomizeDlg' Control='Back' Event='NewDialog' Value='WelcomeDlg' Order='99'>1</Publish>

        </UI>

        <WixVariable Id='WixUIBannerBmp' Value='wix/images/banner.bmp'/>
        <WixVariable Id='WixUIDialogBmp' Value='wix/images/background.bmp'/>

    </Product>

</Wix>
